/*****************************************************************************
  Common Elements 
 *****************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

:root {
  --serif-font: Cormorant Garamond, 'Cormorant Garamond', serif;
  --main-font: Quicksand, 'Quicksand', sans-serif;
  --bg-color: #E6C2C2;
  --primary-color: black;
    cursor: crosshair;
}

body {
  font-family: var(--main-font);
  font-size: 200%;
  line-height: 2rem;
  background-color: var(--bg-color);
  color: var(--primary-color);
  height: 100%;
  margin: 0;
}

main {
  margin: 3rem 3rem 3rem 3rem;
}

/* vertical line */
hr.v-line {
  border: 1px solid black;
}


.first-row {
    display: flex;
    justify-content: space-between;
    color: black;
}

.first-row-right{
    cursor: none;
}

.first-row-right a {
    text-decoration: none;
    cursor: none;
    color: black;
}

.first-row-right:hover {
    background-color: blue;
}

.square {
    height: 5rem;
    width: 5rem;
    margin-top: 3rem;
    /*
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    */
    position: fixed;
    border: 4px solid red;
    animation: rotate 10s infinite linear;
}

.myRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myRowCenter{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

.vi{
    background-color: violet;
    height: 5px;
    min-width: 100%;
}
.in{
    background-color: indigo;
    height: 5px;
    width: 100%;
}
.bl{
    background-color: blue;
    height: 5px;
    width: 100%;
}
.gr{
    background-color: green;
    height: 5px;
    width: 100%;
}
.ye{
    background-color: yellow;
    height: 5px;
    width: 100%;
}
.or{
    background-color: orange;
    height: 5px;
    width: 100%;
}
.re{
    background-color: red;
    height: 5px;
    width: 100%;
}

.rainbow-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-link{
    display: inline;
}

.about-link-mobile{
    display: none;
}

/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 600px) {
    .about-link{
        display: none;
    }
    .about-link-mobile{
        display: inline;
        text-decoration: none;
        align-self: center;
        justify-self: center;
    }
    main {
        margin: 1rem 2rem 0rem 2rem;
    }
}
.frame {
    border-style: solid;
    border-width: 4px;
    padding: 5px;
    display: inline;
}

.logo{
    font-weight: 600;
}

.logo:hover{
    animation: changeColor 1.2s linear;
    animation-iteration-count: infinite;
    cursor: none;
}

@keyframes changeColor {
    0% {
        background-image: linear-gradient(50deg, #CC99C9,#9EC1CF,#9EE09E,#FDFD97,#FEB144,#FF6663);
    }
    9% {
        background-image: linear-gradient(50deg, #FF6663,#CC99C9,#9EC1CF,#9EE09E,#FDFD97,#FEB144);
    }
    18% {
        background-image: linear-gradient(50deg, #FEB144,#FF6663,#CC99C9,#9EC1CF,#9EE09E,#FDFD97);
    }
    27% {
        background-image: linear-gradient(50deg, #FDFD97,#FEB144,#FF6663,#CC99C9,#9EC1CF,#9EE09E);
    }
    36% {
        background-image: linear-gradient(50deg, #9EE09E,#FDFD97,#FEB144,#FF6663,#CC99C9,#9EC1CF);
    }
    45% {
        background-image: linear-gradient(50deg, #9EC1CF,#9EE09E,#FDFD97,#FEB144,#FF6663,#CC99C9);
    }
    54% {
        background-image: linear-gradient(50deg, #CC99C9,#9EC1CF,#9EE09E,#FDFD97,#FEB144,#FF6663);
    }
    64% {
        background-image: linear-gradient(50deg, #FF6663,#CC99C9,#9EC1CF,#9EE09E,#FDFD97,#FEB144);
    }
    72% {
        background-image: linear-gradient(50deg, #FEB144,#FF6663,#CC99C9,#9EC1CF,#9EE09E,#FDFD97);
    }
    81% {
        background-image: linear-gradient(50deg, #FDFD97,#FEB144,#FF6663,#CC99C9,#9EC1CF,#9EE09E);
    }
    90% {
        background-image: linear-gradient(50deg, #9EE09E,#FDFD97,#FEB144,#FF6663,#CC99C9,#9EC1CF);
    }
    100% {
        background-image: linear-gradient(50deg, #9EC1CF,#9EE09E,#FDFD97,#FEB144,#FF6663,#CC99C9);
    }
}


.jump
{
    padding-top: 100px;
    padding-bottom: 0;
}

.jump a{
    text-decoration: none;
    color: black;
}
.jump span {
    display: inline-block;
    animation: none;
}

.jump:hover span:nth-child(4n+1) {
    -webkit-animation: bounce 0.75s infinite linear;
    -moz-animation: bounce 0.75s infinite linear;
    animation: bounce 0.75s infinite linear; }

.jump:hover span:nth-child(4n+2) {
    -webkit-animation: bounce 0.75s infinite linear 0.1s;
    -moz-animation: bounce 0.75s infinite linear 0.1s;
    animation: bounce 0.75s infinite linear 0.1s; }

.jump:hover span:nth-child(4n+3) {
    -webkit-animation: bounce 0.75s infinite linear 0.2s;
    -moz-animation: bounce 0.75s infinite linear 0.2s;
    animation: bounce 0.75s infinite linear 0.2s; }

.jump:hover span:nth-child(4n) {
    -webkit-animation: bounce 0.75s infinite linear 0.3s;
    -moz-animation: bounce 0.75s infinite linear 0.3s;
    animation: bounce 0.75s infinite linear 0.3s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0); }
    25% {
        -webkit-transform: translateY(-15%); }
    75% {
        -webkit-transform: translateY(15%); } }

@-moz-keyframes bounce {
    0%, 100% {
        -moz-transform: translateY(0); }
    25% {
        -moz-transform: translateY(-15%); }
    75% {
        -moz-transform: translateY(15%); } }

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
    25% {
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        -o-transform: translateY(-15%);
        transform: translateY(-15%); }
    75% {
        -webkit-transform: translateY(15%);
        -moz-transform: translateY(15%);
        -ms-transform: translateY(15%);
        -o-transform: translateY(15%);
        transform: translateY(15%); } }